In [ ]:
import yfinance as yf
import pandas as pd
from datetime import datetime, timedelta
from pandas_datareader import data as pdr
yf.pdr_override() # <== that's all it takes :-)
import numpy as np
import statistics
from pprint import pprint
from math import isnan

In [14]:
sp500_history1 = pd.read_csv('./sp500_history.csv')
sp500_history1['date'] = pd.to_datetime(sp500_history1['date']) 
sp500_history1

     Unnamed: 0       date                       name        variable value
0           229 2000-07-27               JDS Uniphase    added_ticker  JDSU
1           224 2000-07-27                    RiteAid  removed_ticker   RAD
2           226 2000-12-05        Symbol Technologies    added_ticker   SBL
3           228 2000-12-05            Ambac Financial    added_ticker   ABK
4           227 2000-12-05           Allegheny Energy    added_ticker   AYE
..          ...        ...                        ...             ...   ...
450           0 2019-12-23  Live Nation Entertainment    added_ticker   LYV
451           2 2019-12-23                   Macerich  removed_ticker   MAC
452           1 2019-12-23                TripAdvisor  removed_ticker  TRIP
453           1 2019-12-23         Zebra Technologies    added_ticker  ZBRA
454           2 2019-12-23                 STERIS plc    added_ticker   STE

[455 rows x 5 columns]

In [15]:
sp500_history1 = sp500_history1[['date', 'value', 'name', 'variable']]

start_date = datetime.strptime('2016-1-1', '%Y-%m-%d')
end_date = datetime.strptime('2020-12-31', '%Y-%m-%d')

# greater than the start date and smaller than the end date
mask = (sp500_history1['date'] > start_date) & (sp500_history1['date'] <= end_date)
sp500_history1 = sp500_history1.loc[mask]

# Sort
sp500_history1.sort_values(['date', 'variable'], ascending=[True, True])
sp500_history1

          date value                             name        variable
260 2016-01-05  FOSL                     Fossil Group  removed_ticker
261 2016-01-05  WLTW             Willis Towers Watson    added_ticker
262 2016-01-19   EXR              Extra Space Storage    added_ticker
263 2016-01-19    CB                       Chubb Corp  removed_ticker
264 2016-02-01   FRT  Federal Realty Investment Trust    added_ticker
..         ...   ...                              ...             ...
450 2019-12-23   LYV        Live Nation Entertainment    added_ticker
451 2019-12-23   MAC                         Macerich  removed_ticker
452 2019-12-23  TRIP                      TripAdvisor  removed_ticker
453 2019-12-23  ZBRA               Zebra Technologies    added_ticker
454 2019-12-23   STE                       STERIS plc    added_ticker

[195 rows x 4 columns]

In [17]:
sp500_history1.columns = ['effective_date', 'ticker', 'name', 'variable']

In [18]:
sp500_history1

    effective_date ticker                             name        variable
260     2016-01-05   FOSL                     Fossil Group  removed_ticker
261     2016-01-05   WLTW             Willis Towers Watson    added_ticker
262     2016-01-19    EXR              Extra Space Storage    added_ticker
263     2016-01-19     CB                       Chubb Corp  removed_ticker
264     2016-02-01    FRT  Federal Realty Investment Trust    added_ticker
..             ...    ...                              ...             ...
450     2019-12-23    LYV        Live Nation Entertainment    added_ticker
451     2019-12-23    MAC                         Macerich  removed_ticker
452     2019-12-23   TRIP                      TripAdvisor  removed_ticker
453     2019-12-23   ZBRA               Zebra Technologies    added_ticker
454     2019-12-23    STE                       STERIS plc    added_ticker

[195 rows x 4 columns]

In [2]:
sp500_history2 = pd.read_excel('./sp500_rebalance_announcements.xlsx')
sp500_history2['effective_date'] = pd.to_datetime(sp500_history2['effective_date']) 
sp500_history2['announcement_date'] = pd.to_datetime(sp500_history2['announcement_date']) 

start_date = datetime.strptime('2016-1-1', '%Y-%m-%d')
end_date = datetime.strptime('2020-12-31', '%Y-%m-%d')

# greater than the start date and smaller than the end date
mask = (sp500_history2['effective_date'] > start_date) & (sp500_history2['effective_date'] <= end_date)
sp500_history2 = sp500_history2.loc[mask]

# Sort
sp500_history2 = sp500_history2.sort_values(['announcement_date', 'type'], ascending=[True, True])
sp500_history2

,Unnamed: 0,type,name,ticker,announcement_date,effective_date
42,42,ADDED,Willis Towers Watson,WSH,2015-12-28,2016-01-04
43,43,DELETED,Fossil Group,FOSL,2015-12-28,2016-01-04
44,44,ADDED,Extra Space Storage,EXR,2016-01-13,2016-01-15
45,45,DELETED,Chubb,CB,2016-01-13,2016-01-15
46,46,ADDED,Federal Realty Trust,FRT,2016-01-22,2016-01-29
...,...,...,...,...,...,...
17,17,DELETED,Cimarex Energy,XEC,2020-02-27,2020-03-03
18,18,ADDED,Otis Worldwide,OTIS,2020-03-31,2020-04-03
19,19,ADDED,Carrier Global,CARR,2020-03-31,2020-04-03
20,20,DELETED,Raytheon,RTN,2020-03-31,2020-04-06
21,21,DELETED,Macy’s,M,2020-03-31,2020-04-06

In [19]:
only_in_1 = sp500_history1.merge(sp500_history2, how = 'outer' ,indicator=True).loc[lambda x : x['_merge']=='left_only']
only_in_1.to_excel('wiki_unique.xlsx')

In [20]:
only_in_2 = sp500_history1.merge(sp500_history2, how = 'outer' ,indicator=True).loc[lambda x : x['_merge']=='right_only']
only_in_2.to_excel('scraping_unique.xlsx')

In [21]:
inner_merge = sp500_history1.merge(sp500_history2, how = 'inner' ,indicator=False)
inner_merge.to_excel('inner_join.xlsx')